streamlit==1.45.1

pypdf==5.5.0

langchain==0.3.25
langchain-community==0.3.24
langchain-text-splitters==0.3.8
langchain-groq==0.3.2
langgraph==0.4.7

chromadb==1.0.10

sentence-transformers==4.1.0
transformers==4.52.4
torch==2.7.0
huggingface-hub==0.32.0

python-dotenv==1.1.0

numpy==2.2.6
pandas==2.2.3
scikit-learn==1.6.1

boto3